.history__player-one,
.history__player-two {
  display: flex;
  align-items: center;
}

.history__player-one {
  width: 500px;
}

.history__player-one-icon,
.history__player-two-icon {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.history__trophy {
  margin-left: 5px;
  width: 24px;
  height: 24px;
}

.history__player-one-icon {
  padding: 0px;
  margin: 5px;
  /* width: 16px;
  height: 16px; */
  fill: #82c048;
  transform: scale(0.75);
}
/* #A8D37F */
.history__player-two-icon {

  padding: 0px;
  margin: 5px;
  fill: #e0361c;
}

.history__versus {
  font-weight: 700;
}
